* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%wrapper {
  width: 50%;
  margin: 50px auto;
  color: white;
}

%gradientBody {
  background: rgb(54, 192, 236);
  background: rgb(190, 84, 228);
  background: linear-gradient(
    90deg,
    rgba(190, 84, 228, 1) 0%,
    rgba(4, 40, 77, 1) 100%
  );
}

%gradientTimeBoadr {
  background: rgb(221, 121, 230);
  background: linear-gradient(
    90deg,
    rgba(221, 121, 230, 0.5) 0%,
    rgba(42, 140, 169, 0.5) 100%
  );
}

body {
  @extend %gradientBody;
}

header {
  @extend %wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  i {
    font-size: 50px;
  }
}

section {
  height: 50vh;
  border-radius: 5px;
  @extend %gradientTimeBoadr;
  @extend %wrapper;
  & .container {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  & .timer {
    @extend %gradientTimeBoadr;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%;

    & div {
      font-size: 20px;
    }

    & .sep {
      height: 80%;
      width: 2px;
      background: white;
    }
  }
}

@media screen and (max-width: 1200px) {
  .timer {
    div {
      &.sep {
        display: none;
      }
    }
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 15px;
  }
}

@media screen and (max-width: 700px) {
  * {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: 10px;
  }
}
